/* BASE */
@import './base.css';
/* PRIMEVUE THEME */
@import 'primevue/resources/themes/fluent-light/theme.css';
/* PRIMEVUE CORE */
@import 'primevue/resources/primevue.min.css';
/* PRIMEFLEX */
@import '/node_modules/primeflex/primeflex.css';
/* PRIMEICON */
@import 'primeicons/primeicons.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

body {
  font-family: var(--font-family);
}
